.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 200px;
    padding: 40px;
    color: white;
}

.App-title {
    font-size: 1.5em;
    color: #61dafb;
}